html{
   width: 100%;
   height: 100%;
}

body{
   margin-top: 185px;
   width: 100%;
   height: 100%;
   font-family: 'Roboto', sans-serif;
   background-color: rgb(245,245,245);
}

.linha::after{
   clear: both;
}

/* header */
.navbar-default{
   background-color: rgb(255,255,255);
   border: none;
   box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}

@media (min-width: 768px){
   .navbar-default{
      padding: 30px 100px;
   }

   .navbar-default li{
      margin-left: 15px;
      font-size: 20px;
   }
   body{
      margin-top: 110px;
   }
}

.navbar-default .navbar-nav>li>a{
   color: rgb(180,180,180);
   transition: 0.5s;
}

.navbar-default .navbar-nav>li>a:hover{
   color: rgba(54,45,104,0.85);
   transition: 0.5s;
}
/* Pagina receitas */
#destaques{
   padding: 30px 0px;
}

#destaques h1{
   text-align: center;
   padding-top: 20px;
   width: 100%;
   color: rgba(54,45,104,0.85);
}

.bloco{
   background-color: rgb(255,255,255);
   border-radius: 5px;
   padding-bottom: 30px;
   box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.05);
}

.destaque{
   max-height: 400px;
   margin-top: 30px;
   margin-bottom: 30px;
   border-radius: 5px;
   box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
}

.imagemFundo{
   margin-top: 30px;
   position: relative;
   width: 100%;
   height: 400px;
   background-image: url('brad.jpg');
   background-size: cover;
   background-position: center;
   border-radius: 5px;
   box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.imagemFundoMenor{
   margin-top: 30px;
   position: relative;
   width: 100%;
   height: 250px;
   background-image: url('brad.jpg');
   background-size: cover;
   background-position: center;
   border-radius: 5px;
   box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.textoFundo{
   opacity: 0;
   border-radius: 5px;
   width: 100%;
   height: 100%;
   transition: 0.5s;
   background-color: rgba(54,45,104,0.7);
   position: absolute;
}

.textoFundo h2{
   padding-top: 40px;
   text-align: center;
   color: #fff;
}

.textoFundo h3{
   padding-top: 20px;
   text-align: center;
   color: #fff;
}

.imagemFundo .textoFundo p{
   color: rgb(240,240,240);
   padding: 0px 50px;
   padding-top: 30px;
   line-height: 30px;
   font-size: 20px;
}

.imagemFundoMenor .textoFundo p{
   font-size: 15px;
   color: rgb(240,240,240);
   padding: 0px 50px;
   padding-top: 15px;
   line-height: 20px;
}

.imagemFundo:hover .textoFundo{
   opacity: 1;
   transition: 0.5s;
}

.imagemFundoMenor:hover .textoFundo{
   opacity: 1;
   transition: 0.5s;
}
/* Footer */
#footer{
	background-color: rgba(54,45,104,0.85);
	color: white;
	text-align: center;
	padding: 30px;
}
.redessociais{
	list-style: none;
}

.sociais p{
	margin-left: 15px ;
}

.redessociais li{
	text-align: center;
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border:1px dashed #fff;
	position: relative;
	margin:auto 5px;
}
.redessociais li img{
	margin-bottom: -10px;
}


/* Pagina sobre */
.sobre{
   padding-top: 20px;
   padding-left: 100px;
   padding-bottom: 30px;
}
.sobre h2{
   color: rgba(54,45,104,0.85);
   font-size: 50px;
   text-align: center;
   font-family: PT Sans Narrow;

}
.chef{
   text-align: center;
}
.chef1{
   width: 188px;
   margin-left: 350px;
}

.chef2{
   width: 188px;
   margin-left: 40px;
}
.sobre p{
   font-size: 20px;
   margin: auto 50px;
   margin-top: 40px;
}
.equipe{
   text-align: center;
}
.equipe img{
   border-radius: 500px;
}

.imagemFundoChef{
   position: relative;
   height: 188px;
   width: 188px;
   background-position: center;
   border-radius: 500px;
   box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.textoFundoChef{
   opacity: 0;
   border-radius: 500px;
   width: 100%;
   height: 100%;
   transition: 0.5s;
   background-color: rgba(54,45,104,0.7);
   position: absolute;

}

.textoFundoChef h2{
   padding-top: 50px;
   text-align: center;
   color: #fff;
}
.imagemFundoChef:hover .textoFundoChef{
   opacity: 1;
   transition: 0.5s;
}

@media (max-width: 768px){
.sobre{
   margin: 0px; 
   padding-right: 20px;
   padding-left:10px;
}
.sobre h2{
   font-size: 30px;
}
.sobre p{
   font-size: 14px;
   text-align: justify;
}
.chef1{
   margin: auto;
}
.chef2{
   margin: auto;
}
}

